services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    env_file:
      - .env
    ports:
      - "${FRONTEND_PORT}:3000"
    depends_on:
      - backend
    restart: always
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app
    depends_on:
      - postgresql_database
      - minio
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "${BACKEND_PORT}:8080"
    restart: always
  postgresql_database:
    image: postgres:latest
    container_name: postgres_database
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: always
    volumes:
      - database-data:/var/lib/postgresql
  dbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: dbeaver
    restart: always
    ports:
      - "${DBEAVER_PORT}:8978"
    volumes:
      - dbeaver_data:/opt/cloudbeaver/workspace
    env_file:
      - .env
  minio:
    image: minio/minio:RELEASE.2023-08-23T10-07-06Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    container_name: ollama
    ports:
      - "${OLLAMA_PORT}:11434"
    volumes:
      - .ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [ "gpu" ]
              count: all
    restart: always
volumes:
  database-data:
  node_modules:
  build:
  dbeaver_data:
  minio_data:
